// Yandex Sans Display Fonts
@font-face {
  font-family: "Yandex Sans Display";
  src: url("/assets/font/YandexSansDisplay-Thin.eot");
  src: url("/assets/font/YandexSansDisplay-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansDisplay-Thin.woff2") format("woff2"),
    url("/assets/font/YandexSansDisplay-Thin.woff") format("woff"),
    url("/assets/font/YandexSansDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("/assets/font/YandexSansDisplay-Light.eot");
  src: url("/assets/font/YandexSansDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansDisplay-Light.woff2") format("woff2"),
    url("/assets/font/YandexSansDisplay-Light.woff") format("woff"),
    url("/assets/font/YandexSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("/assets/font/YandexSansDisplay-Regular.eot");
  src: url("/assets/font/YandexSansDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansDisplay-Regular.woff2") format("woff2"),
    url("/assets/font/YandexSansDisplay-Regular.woff") format("woff"),
    url("/assets/font/YandexSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("/assets/font/YandexSansDisplay-RegularItalic.eot");
  src: url("/assets/font/YandexSansDisplay-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansDisplay-RegularItalic.woff2") format("woff2"),
    url("/assets/font/YandexSansDisplay-RegularItalic.woff") format("woff"),
    url("/assets/font/YandexSansDisplay-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Display";
  src: url("/assets/font/YandexSansDisplay-Bold.eot");
  src: url("/assets/font/YandexSansDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansDisplay-Bold.woff2") format("woff2"),
    url("/assets/font/YandexSansDisplay-Bold.woff") format("woff"),
    url("/assets/font/YandexSansDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Yandex Sans Text Fonts
@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-Thin.eot");
  src: url("/assets/font/YandexSansText-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-Thin.woff2") format("woff2"),
    url("/assets/font/YandexSansText-Thin.woff") format("woff"),
    url("/assets/font/YandexSansText-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-Light.eot");
  src: url("/assets/font/YandexSansText-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-Light.woff2") format("woff2"),
    url("/assets/font/YandexSansText-Light.woff") format("woff"),
    url("/assets/font/YandexSansText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-Regular.eot");
  src: url("/assets/font/YandexSansText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-Regular.woff2") format("woff2"),
    url("/assets/font/YandexSansText-Regular.woff") format("woff"),
    url("/assets/font/YandexSansText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-RegularItalic.eot");
  src: url("/assets/font/YandexSansText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-RegularItalic.woff2") format("woff2"),
    url("/assets/font/YandexSansText-RegularItalic.woff") format("woff"),
    url("/assets/font/YandexSansText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-Medium.eot");
  src: url("/assets/font/YandexSansText-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-Medium.woff2") format("woff2"),
    url("/assets/font/YandexSansText-Medium.woff") format("woff"),
    url("/assets/font/YandexSansText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("/assets/font/YandexSansText-Bold.eot");
  src: url("/assets/font/YandexSansText-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/YandexSansText-Bold.woff2") format("woff2"),
    url("/assets/font/YandexSansText-Bold.woff") format("woff"),
    url("/assets/font/YandexSansText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Yandex Sans Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  // background: #ececec;
}
